 
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');
body{
    margin: 0;
    background-color: black;
    color: white;
    
}
.navbar{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    
}
.navbar-left{
    padding-left: 20px;
    align-items: center;
    padding-top: 15px;
}

.navbar-right{
    padding-right: 20px;
    align-items: center;
    display: flex;
    flex-direction: row;

}
.a-element{
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 5px;
    font-weight: bold;
}

.home{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 85vh;
}

.home-left{
    width: 90vh;
    padding-left: 20px;
    text-align: right;
}
.home-right{
    width: 50vh;
}

.logo{
    height: 30px;
}

.h1{
    font-family: "Fira Code", monospace;
    font-size: 50px;
}

.p{
    font-family:  "Fira Code", monospace;
    font-size: 20px;
}